/*-----------------------------------------------------*/
/* CSS RESET */
/*-----------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: sans-serif;
    font-weight: 400;
}

nav ul {
    list-style:none;
}

li {
    list-style-type: none;
}

html,
body {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    color: #4F534E;
    /*background-image: url("../img/backround.png");*/
}

b {
    font-weight: bold;
}

h4.videoTitle {
    cursor: pointer;
    font-size: 22pt;
    text-decoration: underline;
}

h4.videoTitle:hover {
    color: blue;
}

div.container {
    width: 100%;
}

h2.listTitle {
    font-size: 36pt;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    color: #000;
    font-family: cursive;
}
