<button type="button" class="back" ng-click="detailsCtrl.returnToVideos()"> <<< Return to List of Videos</button>

<ul class="videoList">
    <li class="videoListItem">
        <iframe ng-if="detailsCtrl.video" id="player" class="videoThumb"
                width="500" height="360" type="text/html"
                src="{{ detailsCtrl.trustSrc(detailsCtrl.video.url) }}"
                allowfullscreen>
        </iframe>

        <div id="player"></div>

        <div class="videoListInfo">
            <h4 class="videoTitle">{{ detailsCtrl.video.snippet.title }}</h4>
            <br/>
            <h6 class="videoPublished">Published on {{ detailsCtrl.video.snippet.publishedAt | date }}</h6>
            <br/>
            <h6 class="videoDescription">{{ detailsCtrl.video.snippet.description }}</h6>
            <br/>
        </div>
    </li>
</ul>
